body{
	background-image:url("images/fondo.jpg");
}
		
/* Inicio Navegation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
 outline: 2px solid #535cac;
}

li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:orange;
  border:0px;
  width:300px;
  font-weight:bold;
  
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: orange;
  color:black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight:bold;
}

.dropdown-content a:hover {
	background-color: #FFC500;
	color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
		/* Fin Navegation bar*/


.iprincipal{
	margin:30px 0px 0px 0px;
}



.titulo{
	color:white;
	background-color:#FFA732;
	text-align:center;
	font-size:35px;
	padding:20px 10px 20px 10px;
	outline:2px solid #535cac;
	font-weight:bold;
	text-transform: uppercase;
	font-family:sans-serif;
	margin:auto;
	width:66%;
	
}
.descripcion{
	text-align:center;
	font-size:21px;
	color:black;
	margin:0px 147px 0px 147px;
	font-family: "Lucida Console", "Courier New", monospace;
	

}

.paistitulo{
	text-align:center;
	font-size:35px;
	color:white;
	background-color:#E67F3E;
	font-weight:bold;
	padding:5px;
	outline: 2px solid #535cac;
	margin-bottom:30px;
	width:90%;
	font-family:sans-serif;
	
}
	
.tablatitulo{
	border-bottom:1px solid #535cac;
	text-align:center;
	font-size:30px;
	color:white;
	background-color:#FFA732;
	padding:0px 530px 0px 530px;
	font-family:sans-serif;
	font-weight:bold;
	

}

.tablainterior{
	border:0;
	text-align:center;
	font-size:25px;
	color:black;
	padding:40px 20px 40px 20px;
	font-family: "Lucida Console", "Courier New", monospace;

	
	
}


.imgpais{
	width:400px;
	height:260px;
}

.tablasubtitulo{
	border-bottom:2px solid #535cac;
	text-align:center;
	font-size:30px;
	color:white;
	background-color:#FFA732;
	padding:0px 530px 0px 530px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight:bold;
}

.tablapais{
	font-size:45px;
	font-family:sans-serif;
}


/*links*/

.tablapais a:link {
	color: red;
	text-decoration: none;
}


.tablapais a:visited {
	color: orange;
	text-decoration: none;
}


.tablapais a:hover {
	color: #FFC500;
	text-decoration: none;
}


.tablapais a:active {
	color: yellow;
	text-decoration: none;
}


/*redes*/

.piepagina{
	background-color:black;
	padding:30px;
	margin:0px 0px 0px 0px;
	color:white;
	text-align:center;
	font-size:30px;
	width:100%;
	font-family:sans-serif;
	
}

.aredes img:hover{
	opacity: 0.5;
}

.imgredes{
	width:35px;
	height:35px;
	
}
