		/* Inicio Navegation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
 outline: 2px solid #535cac;
}

li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:orange;
  border:0px;
  width:300px;
  font-weight:bold;
  
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: orange;
  color:black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight:bold;
}

.dropdown-content a:hover {
	background-color: #FFC500;
	color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.iprincipal{
	margin:30px 170px 0px 170px;
}

.titulo{
	color:white;
	background-color:green;
	text-align:center;
	font-size:35px;
	margin:0px 177px 0px 170px;
	padding:20px 10px 20px 10px;
	border-right:solid black 2px;
	border-bottom:solid black 2px;
	border-left:solid black 2px;
	font-weight:bold;
	text-transform: uppercase;
}
.descripcion{
	text-align:center;
	font-size:21px;
	color:black;
	margin:0px 147px 0px 147px;

}

.paistitulo{
	text-align:center;
	font-size:35px;
	color:white;
	background-color:#E67F3E;
	font-weight:bold;
	padding:5px;
	outline: 2px solid #535cac;
}
	
.tablatitulo{
	border-bottom:2px solid #535cac;
	text-align:center;
	font-size:30px;
	color:white;
	background-color:#FFA732;
	padding:0px 530px 0px 530px;
	
}

.tablainterior{
	border:0;
	text-align:center;
	font-size:25px;
	color:black;
	padding:40px 20px 40px 20px;
	
	
}

.tablapais{
	top:;
	left:;
	font-size:30px;
	
}


.imgpais{
	width:400px;
	height:300px;
}

.tablasubtitulo{
	border-bottom:2px solid #535cac;
	text-align:center;
	font-size:30px;
	color:white;
	background-color:#FFA732;
	padding:0px 530px 0px 530px;
}
