/* Hoja de estilos para las páginas de Gonzalo */

/* Menú */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
  border: 2px solid #535cac;
}

li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:orange;
  border:0px;
  width:300px;
  font-weight:bold;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: orange;
  color:black;
}

li.dropdown {
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight:bold;
}

.dropdown-content a:hover {
	background-color: #FFC500;
	color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#main_table {
	margin:auto;
	text-align:center;
	color:black;
}

#main_title {
	margin:auto;
	color:white;
	background-color:#E67F3E;
	text-align:center;
	width:400px;
	border: 2px solid #535cac;
	font-family:sans-serif;
	margin-bottom:100px;
	font-size:300%;
	margin-top:30px;
}

img:hover {
	opacity:0.8;
}

#map {
	border:1px solid black;
	width:80%;
	height:80%;
	margin-left:35px;
}

/* Información/Actividades */

.title {
	color:white;
	font-size:300%;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight:bold;
	padding-top:5px;
	background-color:#FFA732;
	border: 2px solid #535cac;
}

.text {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:150%;
}

.text_title {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:200%;
}

.image_spacing {
	margin:5px;
}

/* Alojamientos */

.alojamientos {
	border-collapse:collapse;
	width:100%;
}
.alojamientos th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.alojamientos tr:hover {
	background-color:#FFA732;
}
#estrellas {
	color:yellow;
}

.hotel_img {
	width:140px;
	height:80px;
}
#jp_vid {
	margin-left:25px;
}

#ch_map {
	margin-left:150px;
}
